#login-dp {
	z-index: 999;
}

.img-circle {
	/*border: 5px solid #3de455 !important;*/
	border-radius: 50%;
	width: 100%;
}
.col-sm-4 {
	list-style-type: none;
}
.meta-search {
	list-style-type: none;
}
.thumbnail>img {
	border-radius: 20px;
}
.thumbnail {
	border-radius: 20px !important;
}
.color-title {
	color: #b21111 !important;
}
.text-danger {
	color: #3de455 !important;
}
hr {
	margin-top: 0px !important;
	/*border-top: 1px solid #bbb !important;*/
}


.well {
	padding: 5px !important;
}
.well img {
	width: 350px;
}
.pb-cmnt-container {
        /*margin-top: 100px;*/
        text-align: center;
    }

    .pb-cmnt-textarea {
        resize: none;
        padding: 20px;
        height: 120px;
        width: 100%;
        border: 1px solid #d1d3e2;
        border-radius: .35rem;
    }
    .panel-info {
    	border-color: #b21111 !important;
    }
.btn-primary {
	background: #3de455 !important;
	border-color: #3de455 !important;
}
.btn-primary:hover {
	background: #b21111 !important;
	border-color: #b21111 !important;
}

.col-md-offset-3 {
	margin: 0 auto !important;
}
.media img {
	width: 120px !important;
	border-radius: 50%;
	border: 2px solid #b21111;
}



@import url(https://fonts.googleapis.com/css?family=Muli:400, 300);

.calendar, .calendar_weekdays, .calendar_content {
    max-width: 300px;
}
.calendar {
    margin: auto;
    font-family:'Muli', sans-serif;
    font-weight: 400;
}
.calendar_content, .calendar_weekdays, .calendar_header {
    position: relative;
    overflow: hidden;
}
.calendar_weekdays div {
    display:inline-block;
    vertical-align:top;
}
.calendar_weekdays div, .calendar_content div {
    width: 14.28571%;
    overflow: hidden;
    text-align: center;
    background-color: transparent;
    color: #6f6f6f;
    font-size: 14px;
}
.calendar_content div {
    border: 1px solid transparent;
    float: left;
}
.calendar_content div:hover {
    border: 1px solid #dcdcdc;
    cursor: default;
}
.calendar_content div.blank:hover {
    cursor: default;
    border: 1px solid transparent;
}
.calendar_content div.past-date {
    color: #d5d5d5;
}
.calendar_content div.today {
    font-weight: bold;
    font-size: 14px;
    color: #87b633;
    border: 1px solid #dcdcdc;
}
.calendar_content div.selected {
    background-color: #f0f0f0;
}
.calendar_header {
    width: 100%;
    text-align: center;
}
.calendar_header h2 {
    padding: 0 10px;
    font-family:'Muli', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #87b633;
    float:left;
    width:70%;
    margin: 0 0 10px;
}
button.switch-month {
    background-color: transparent;
    padding: 0;
    outline: none;
    border: none;
    color: #dcdcdc;
    float: left;
    width:15%;
    transition: color .2s;
}
button.switch-month:hover {
    color: #87b633;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background: #3de455 !important;
}
select {
	width: 100%;
	height: 35px;
}


.news {
	width: 100%;
    background: #fff;
	position: relative;
	overflow: hidden;
	/*z-index:1;*/
 	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;	
}

#news1 {
	background-image: url(https://pixabay.com/get/50e4d54a4c52b108feda8460825668204022dfe05558774170267cd2/wheat-field-640960_1920.jpg);
	color: white;
}
#news2 {
	background-image: url('img/wheat-field.jpg');
	background-repeat: no-repeat;
  background-position: center;
	color: white;
}
#news3 {
	background-image: url('img/sunset.jpg');
	color: white;
}
.news .img-figure {
	position: relative;
}

.news .img-figure img {
	position: relative;	
	overflow: hidden;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.news:hover .img-figure img {
	-webkit-transform: scale(1.10);
	-moz-transform: scale(1.10);
	-ms-transform: scale(1.10);
	-o-transform: scale(1.10);
	transform: scale(1.10);
}

.news .title {
	/*padding: 29px 30px;*/
	padding: 45px 30px;
	position: absolute;
	left: 0;
	/*background: #fff;*/
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;	
}

.news .title h1 {
	margin: 0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 19px;
/*	color: #3D6AA2;*/
	text-align: center;
}

.news:hover .title  {
	margin-top: -90px;
	/*background: #fff;*/
}

.news  p.description {
	position: relative;
	font-weight: normal;
	line-height: 22px;
	opacity: 0;

	text-align: center;

	padding: 15px 30px 0px 30px;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;	
}

.news:hover p.description  {
	opacity: 1;
}

p.more {
	text-align: center;
}

.more a {
    position: relative;
    font-size: 13px;
    margin-top: 30px;
    display: block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: inline-block;
    color: #28998b;
}

.more a:after {
    content: '';
    width: 18px;
    height: 1px;

    position: absolute;
    left: 55px;
    top: 9px;

    background: #28998b;

    vertical-align: middle;
    margin-left: 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.news:hover a:after {
    width: 30px;
}

.cat {
	background: #a0bc9f;
	color: #fff;
	text-transform: uppercase;
	position: absolute;
	left: 0;
	top: 20px;
	z-index: 1;
	padding: 3px 15px;
}

.col-sm-12 {
	padding: 0px !important;
}
.dropdown-menu {
	right: 0 !important;
	padding-left: 10px;
}
.imgdim {
  width: 80% !important;
}